<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bernard.mysql.dao.UserDataMapper">

	<insert id="inserUserOrder" parameterType="com.bernard.mysql.dto.Order">
		INSERT INTO T_USER_ORDER VALUE (#{orderID},#{orderTime},#{account},#{asset},#{orderSide,typeHandler=org.apache.ibatis.type.EnumTypeHandler},#{orderType,typeHandler=org.apache.ibatis.type.EnumTypeHandler},#{surviveTime},#{amount},#{price},#{state,typeHandler=org.apache.ibatis.type.EnumTypeHandler},#{remain},#{AssertLimit},#{LockVersion})
	</insert>


</mapper>
